{% extends "base.html" %} {% block title %} Home page {% endblock %} {% block
body %}
<h1>Домашнее задание "Взаимодействие между контейнерами"</h1>
<ul>
  Задача:

  <li>
    создайте docker-compose файл, настройте там связь базы данных и
    веб-приложения
  </li>
  <li>
    добавьте в свой проект модели. Это могут быть те же модели, что были
    использованы для сохранения данных с открытого API, это может быть и что-то
    новое
  </li>
  <li>добавьте возможность создавать новые записи</li>
  <li>создайте страницу, на которой эти записи выводятся</li>
  <li>база данных должна быть в отдельном контейнере</li>
  <li>
    Flask приложение должно запускаться не в debug режиме, а в production-ready
    (uwsgi, nginx, gunicorn)
  </li>
</ul>
<ul>Критерии оценки:
    <li>docker-compose файл присутствует и работает</li>
    <li>приложение взаимодействует с БД</li>
    <li>в приложении есть возможность добавить записи, они сохраняются в БД</li>
    <li>в приложении есть страница, которая выдаёт доступные записи (вытаскивает из БД)</li>
    <li>Flask приложение настроено для запуска в production режиме (uwsgi, nginx, gunicorn) </li>
</ul>
</div>
{% endblock %}
