{% extends 'base.html' %} {% block title %} Post: {{ post.title}} {% endblock %}
{% block body %}
<h2>Post: {{post.name}}</h2>

<div>
  <div class="grid">
    <div>name: {{ post.title }}</div>
    <div>body: {{post.body}}</div>
    <div>user_id: {{post.user_id}}</div>
  </div>
</div>
<div class="my-3">
  <a class="btn btn-primary" href="{{ url_for('posts_app.posts')}}"
    >Back to posts list</a
  >
  <a
    class="btn btn-danger"
    href="{{ url_for('posts_app.confirm-delete', post_id=post.id)}}"
    >Delete post</a
  >
</div>
{% endblock %}
